<html>
  <head>
    {% if title %}
    <title>{{ title | decode_utf8 }} - vetclinic</title>
    {% else %}
    <title>vetclinic</title>
    {% endif %}
  </head>
  <body>
    <div>vetclinic: 
{% if current_user.is_authenticated %}
      <a href="{{ url_for('index') }}">HOME</a>
      <a href="{{ url_for('owners') }}">OWNERS</a>
      <a href="{{ url_for('animals') }}">ANIMALS</a>
      <a href="{{ url_for('species') }}">SPECIES</a>
      <a href="{{ url_for('breeds') }}">BREEDS</a>
      <a href="{{ url_for('vets') }}">VETS</a>
    </div>
      <a href="{{ url_for('auth.logout') }}">LOGOUT</a>
{% endif %}
    <div>

    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
