{% extends "base.html" %}
{% block content %}
    {% for breed,species in breeds.items %}
    <p>
      {{ species.name | upper }}[{{ species.id }}]
      {{ breed.name }}[{{ breed.id }}],
    </p>
    {% endfor %}

    {% if breeds.has_prev %}<a href="{{ url_for('breeds', page=breeds.prev_num) }}">&lt;&lt;</a>{% else %} &lt;&lt; {% endif %} 
    {{ breeds.page }} / {{ breeds.pages }}
    {% if breeds.has_next %}<a href="{{ url_for('breeds', page=breeds.next_num) }}">&gt;&gt;</a>{% else %} &gt;&gt; {% endif %}

{% endblock %}
